nodered-buttons.json
[{"id":"1f3cb6a.e59fc49","type":"tab","label":"Botones","disabled":false,"info":""},{"id":"caef1cbd.1d533","type":"ui_button","z":"1f3cb6a.e59fc49","name":"","group":"735799d4.4e64a8","order":0,"width":0,"height":0,"passthru":true,"label":"on","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"EstadoLed","x":160,"y":160,"wires":[["78192dbc.4beea4"]]},{"id":"871b6b1.3425a98","type":"ui_button","z":"1f3cb6a.e59fc49","name":"","group":"735799d4.4e64a8","order":0,"width":0,"height":0,"passthru":true,"label":"off","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"EstadoLed","x":160,"y":260,"wires":[["78192dbc.4beea4"]]},{"id":"78192dbc.4beea4","type":"mqtt out","z":"1f3cb6a.e59fc49","name":"BOTON","topic":"EstadoLed","qos":"","retain":"","broker":"fec1ee35.67fe3","x":350,"y":200,"wires":[]},{"id":"735799d4.4e64a8","type":"ui_group","name":"Group 1","tab":"38803b90.755344","order":1,"disp":true,"width":6},{"id":"fec1ee35.67fe3","type":"mqtt-broker","z":"","name":"BROKER","broker":"192.168.50.6","port":"1883","clientid":"BROKER","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38803b90.755344","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]