robot-client.json
[{"id":"57f90915.87ee18","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fb19754a.d4a668","type":"mqtt out","z":"57f90915.87ee18","name":"","topic":"Speed","qos":"","retain":"","broker":"92359ba5.caf108","x":270,"y":120,"wires":[]},{"id":"bd2c4c47.17a39","type":"mqtt out","z":"57f90915.87ee18","name":"","topic":"Direction","qos":"","retain":"","broker":"92359ba5.caf108","x":280,"y":400,"wires":[]},{"id":"511b6cb9.7ccb24","type":"mqtt out","z":"57f90915.87ee18","name":"","topic":"On","qos":"","retain":"","broker":"92359ba5.caf108","x":270,"y":260,"wires":[]},{"id":"b7afcb63.d753e8","type":"ui_button","z":"57f90915.87ee18","name":"","group":"e1e8654.81d0e98","order":0,"width":0,"height":0,"passthru":false,"label":"Slow","color":"","bgcolor":"","icon":"","payload":"25","payloadType":"num","topic":"","x":90,"y":100,"wires":[["fb19754a.d4a668"]]},{"id":"45a7010.f1939","type":"ui_button","z":"57f90915.87ee18","name":"","group":"e1e8654.81d0e98","order":0,"width":0,"height":0,"passthru":false,"label":"Fast","color":"","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"","x":90,"y":160,"wires":[["fb19754a.d4a668"]]},{"id":"c8cb3c9b.c5459","type":"ui_button","z":"57f90915.87ee18","name":"","group":"e1e8654.81d0e98","order":0,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":90,"y":260,"wires":[["511b6cb9.7ccb24"]]},{"id":"2f48323a.bcccee","type":"ui_button","z":"57f90915.87ee18","name":"","group":"e1e8654.81d0e98","order":0,"width":0,"height":0,"passthru":false,"label":"Forward","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":100,"y":380,"wires":[["bd2c4c47.17a39"]]},{"id":"bec74b19.57d088","type":"ui_button","z":"57f90915.87ee18","name":"","group":"e1e8654.81d0e98","order":0,"width":0,"height":0,"passthru":false,"label":"Backward","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":100,"y":440,"wires":[["bd2c4c47.17a39"]]},{"id":"92359ba5.caf108","type":"mqtt-broker","z":"","name":"Broker","broker":"10.10.10.112","port":"1883","clientid":"publisher","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1e8654.81d0e98","type":"ui_group","name":"Group 1","tab":"4c556fd2.b4dfc","order":1,"disp":true,"width":6},{"id":"4c556fd2.b4dfc","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
