robot-node-red.json
[{"id":"7bb4cdbd.de0354","type":"subflow","name":"Motor Controller","info":"Expects different messages\nAn \"On\" message and a \"Direction\" message","in":[{"x":25,"y":219,"wires":[{"id":"3120ae19.f8ccc2"}]}],"out":[{"x":1050,"y":91,"wires":[{"id":"a317c87d.335c98","port":0},{"id":"6b00a0a5.f6f68","port":0}]},{"x":1053,"y":164,"wires":[{"id":"a317c87d.335c98","port":0},{"id":"b950f742.310f48","port":0}]},{"x":289,"y":67,"wires":[{"id":"3120ae19.f8ccc2","port":0}]}]},{"id":"3120ae19.f8ccc2","type":"switch","z":"7bb4cdbd.de0354","name":"Split Messages","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Speed","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","outputs":3,"x":165,"y":228,"wires":[["13aadcc1.8bf6c3"],["a317c87d.335c98","cc638d1a.06638"],["53c209f3.97b5a8"]]},{"id":"a317c87d.335c98","type":"switch","z":"7bb4cdbd.de0354","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":494,"y":199,"wires":[["d7c85328.66132","2e722a35.12fa26"]]},{"id":"d7c85328.66132","type":"debug","z":"7bb4cdbd.de0354","name":"Motor 1","active":true,"tosidebar":true,"console":false,"complete":"payload","x":1099,"y":31.5,"wires":[]},{"id":"2e722a35.12fa26","type":"debug","z":"7bb4cdbd.de0354","name":"Motor 2","active":true,"tosidebar":true,"console":false,"complete":"payload","x":1095,"y":226.5,"wires":[]},{"id":"cc638d1a.06638","type":"switch","z":"7bb4cdbd.de0354","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":493,"y":263,"wires":[["6b00a0a5.f6f68"]]},{"id":"f47dd1d6.aa38c","type":"change","z":"7bb4cdbd.de0354","name":"Set Direction Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":358,"wires":[["6b00a0a5.f6f68"]]},{"id":"5212d1d0.fce28","type":"change","z":"7bb4cdbd.de0354","name":"Set Direction Counter Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":417,"wires":[["6b00a0a5.f6f68"]]},{"id":"6b00a0a5.f6f68","type":"function","z":"7bb4cdbd.de0354","name":"Get Direction","func":"var direction = flow.get('direction')||0;\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":300,"wires":[["d7c85328.66132","b950f742.310f48"]]},{"id":"b950f742.310f48","type":"function","z":"7bb4cdbd.de0354","name":"Invert","func":"if (msg.payload == 1) {\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":901,"y":303,"wires":[["2e722a35.12fa26"]]},{"id":"53c209f3.97b5a8","type":"switch","z":"7bb4cdbd.de0354","name":"Direction","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":253,"y":398,"wires":[["f47dd1d6.aa38c"],["5212d1d0.fce28"]]},{"id":"13aadcc1.8bf6c3","type":"debug","z":"7bb4cdbd.de0354","name":"Motor Speed","active":true,"tosidebar":true,"console":false,"complete":"payload","x":422,"y":113.5,"wires":[]},{"id":"1ece4d45.72fa63","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a27b16d.b92b9e8","type":"rpi-gpio out","z":"1ece4d45.72fa63","name":"Right Motor Speed (PWM)","pin":"31","set":"","level":"0","freq":"","out":"pwm","x":680,"y":440,"wires":[]},{"id":"54f48a76.ed1114","type":"rpi-gpio out","z":"1ece4d45.72fa63","name":"Right Motor Pin 1","pin":"32","set":true,"level":"0","freq":"","out":"out","x":650,"y":220,"wires":[]},{"id":"ca0f3c66.c631f","type":"rpi-gpio out","z":"1ece4d45.72fa63","name":"Right Motor Pin 2","pin":"33","set":true,"level":"0","freq":"","out":"out","x":650,"y":360,"wires":[]},{"id":"1c74d368.3451dd","type":"subflow:7bb4cdbd.de0354","z":"1ece4d45.72fa63","name":"","x":382,"y":319.5,"wires":[["54f48a76.ed1114","8af4f003.15aad"],["ca0f3c66.c631f","6e6ebf0e.7ce1f"],["a27b16d.b92b9e8","ab4b1c2d.c19ee"]]},{"id":"ab4b1c2d.c19ee","type":"rpi-gpio out","z":"1ece4d45.72fa63","name":"Left Motor Speed (PWM)","pin":"37","set":"","level":"0","freq":"","out":"pwm","x":670,"y":500,"wires":[]},{"id":"8af4f003.15aad","type":"rpi-gpio out","z":"1ece4d45.72fa63","name":"Left Motor Pin 1","pin":"38","set":true,"level":"0","freq":"","out":"out","x":640,"y":160,"wires":[]},{"id":"6e6ebf0e.7ce1f","type":"rpi-gpio out","z":"1ece4d45.72fa63","name":"Left Motor Pin 2","pin":"40","set":true,"level":"0","freq":"","out":"out","x":640,"y":300,"wires":[]},{"id":"1dd2c329.b3574d","type":"mqtt in","z":"1ece4d45.72fa63","name":"","topic":"Speed","qos":"2","broker":"59d8f102.76472","x":90,"y":380,"wires":[["1c74d368.3451dd"]]},{"id":"668c348b.5dce1c","type":"mqtt in","z":"1ece4d45.72fa63","name":"","topic":"Direction","qos":"2","broker":"59d8f102.76472","x":100,"y":320,"wires":[["1c74d368.3451dd"]]},{"id":"f9d8bd49.30939","type":"mqtt in","z":"1ece4d45.72fa63","name":"","topic":"On","qos":"2","broker":"59d8f102.76472","x":90,"y":260,"wires":[["1c74d368.3451dd"]]},{"id":"8746eec.7e6331","type":"rpi-srf","z":"1ece4d45.72fa63","name":"","topic":"","pulse":"0.5","pins":"15,13","x":110,"y":80,"wires":[["5c95ea78.0fb394"]]},{"id":"5c95ea78.0fb394","type":"debug","z":"1ece4d45.72fa63","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":380,"y":100,"wires":[]},{"id":"59d8f102.76472","type":"mqtt-broker","z":"","name":"BROKER","broker":"10.10.10.112","port":"1883","clientid":"subscriber","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
