Trabajo final/robot-flow.json
[{"id":"d7bfc616.825a18","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"841378c1.2237f8","type":"subflow","name":"Motor Controller","info":"Expects different messages\nAn \"On\" message and a \"Direction\" message","in":[{"x":25,"y":219,"wires":[{"id":"3fa16236.68053e"}]}],"out":[{"x":1050,"y":91,"wires":[{"id":"38274581.5ec9ca","port":0},{"id":"c7b3690.bf4a998","port":0}]},{"x":1053,"y":164,"wires":[{"id":"38274581.5ec9ca","port":0},{"id":"5fa39524.82463c","port":0}]},{"x":289,"y":67,"wires":[{"id":"3fa16236.68053e","port":0}]}]},{"id":"1ee4ee5f.47fa72","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"197a785b.efb808","type":"mqtt-broker","z":"","name":"BROKER","broker":"192.168.50.6","port":"1883","clientid":"BROKER","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c78b04fa.ebfd08","type":"mqtt-broker","z":"","name":"BROKER","broker":"10.10.10.112","port":"1883","clientid":"subscriber","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e6f9dee.be8102","type":"mqtt-broker","z":"","name":"Broker","broker":"10.10.10.145","port":"1883","clientid":"publisher","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b0eda508.69e698","type":"ui_group","z":"","name":"Directions","tab":"15ae2905.270517","order":1,"disp":false,"width":"6","collapse":false},{"id":"15ae2905.270517","type":"ui_tab","z":"","name":"Controller","icon":"dashboard","order":1},{"id":"4a7dc801.90aa68","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"6689a626.399988","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"35d757a7.c22ec8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"734014fc.e28d3c","type":"ui_group","z":"","name":"Group 2","tab":"15ae2905.270517","order":2,"disp":false,"width":"6","collapse":false},{"id":"3fa16236.68053e","type":"switch","z":"841378c1.2237f8","name":"Split Messages","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Speed","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","outputs":3,"x":165,"y":228,"wires":[["b4632d1e.145d1"],["38274581.5ec9ca","2bd6a5e6.9b137a"],["9a3c677e.f8e7b8"]]},{"id":"38274581.5ec9ca","type":"switch","z":"841378c1.2237f8","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":494,"y":199,"wires":[["8118d118.ddaff","b8eb9f1d.861f1"]]},{"id":"8118d118.ddaff","type":"debug","z":"841378c1.2237f8","name":"Motor 1","active":true,"tosidebar":true,"console":false,"complete":"payload","x":1099,"y":31.5,"wires":[]},{"id":"b8eb9f1d.861f1","type":"debug","z":"841378c1.2237f8","name":"Motor 2","active":true,"tosidebar":true,"console":false,"complete":"payload","x":1095,"y":226.5,"wires":[]},{"id":"2bd6a5e6.9b137a","type":"switch","z":"841378c1.2237f8","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":493,"y":263,"wires":[["c7b3690.bf4a998"]]},{"id":"955a8837.a30688","type":"change","z":"841378c1.2237f8","name":"Set Direction Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":358,"wires":[["c7b3690.bf4a998"]]},{"id":"f9087adf.82dd68","type":"change","z":"841378c1.2237f8","name":"Set Direction Counter Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":417,"wires":[["c7b3690.bf4a998"]]},{"id":"c7b3690.bf4a998","type":"function","z":"841378c1.2237f8","name":"Get Direction","func":"var direction = flow.get('direction')||0;\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":300,"wires":[["8118d118.ddaff","5fa39524.82463c"]]},{"id":"5fa39524.82463c","type":"function","z":"841378c1.2237f8","name":"Invert","func":"if (msg.payload == 1) {\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":901,"y":303,"wires":[["b8eb9f1d.861f1"]]},{"id":"9a3c677e.f8e7b8","type":"switch","z":"841378c1.2237f8","name":"Direction","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":253,"y":398,"wires":[["955a8837.a30688"],["f9087adf.82dd68"]]},{"id":"b4632d1e.145d1","type":"debug","z":"841378c1.2237f8","name":"Motor Speed","active":true,"tosidebar":true,"console":false,"complete":"payload","x":422,"y":113.5,"wires":[]},{"id":"1aaf30d6.c2709f","type":"mqtt out","z":"d7bfc616.825a18","name":"","topic":"Speed","qos":"","retain":"","broker":"1e6f9dee.be8102","x":270,"y":120,"wires":[]},{"id":"43493988.f2fe68","type":"mqtt out","z":"d7bfc616.825a18","name":"","topic":"Direction","qos":"","retain":"","broker":"1e6f9dee.be8102","x":280,"y":400,"wires":[]},{"id":"d89ef6a6.48db48","type":"mqtt out","z":"d7bfc616.825a18","name":"","topic":"On","qos":"","retain":"","broker":"1e6f9dee.be8102","x":270,"y":260,"wires":[]},{"id":"aac9285.959fcd8","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":5,"width":"2","height":"2","passthru":false,"label":"Stop","color":"","bgcolor":"#ff5252","icon":"","payload":"0","payloadType":"num","topic":"","x":90,"y":260,"wires":[["d89ef6a6.48db48"]]},{"id":"a2470361.e787d","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":2,"width":"2","height":"2","passthru":false,"label":"⇧","color":"","bgcolor":"#81C784","icon":"","payload":"1","payloadType":"num","topic":"","x":90,"y":380,"wires":[["43493988.f2fe68"]]},{"id":"4badff22.d380c","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":9,"width":"2","height":"2","passthru":false,"label":"⇩","color":"","bgcolor":"#81C784","icon":"","payload":"0","payloadType":"num","topic":"","x":90,"y":440,"wires":[["43493988.f2fe68"]]},{"id":"a79749d5.bd9a78","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":4,"width":"2","height":"2","passthru":false,"label":"⇦","color":"","bgcolor":"#81C784","icon":"","payload":"2","payloadType":"num","topic":"","x":90,"y":500,"wires":[["43493988.f2fe68"]]},{"id":"a820d49.d279c28","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":7,"width":"2","height":"2","passthru":false,"label":"⇨","color":"","bgcolor":"#81C784","icon":"","payload":"3","payloadType":"num","topic":"","x":90,"y":560,"wires":[["43493988.f2fe68"]]},{"id":"67e4fb2d.b39b54","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":1,"width":"2","height":"2","passthru":false,"label":"","color":"","bgcolor":"transparent","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":500,"wires":[[]]},{"id":"a99ac46.a76d638","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":3,"width":"2","height":"2","passthru":false,"label":"","color":"","bgcolor":"transparent","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":460,"wires":[[]]},{"id":"70d57224.781dbc","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":8,"width":"2","height":"2","passthru":false,"label":"","color":"","bgcolor":"transparent","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":540,"wires":[[]]},{"id":"6ffd1d2.96dfde4","type":"ui_button","z":"d7bfc616.825a18","name":"","group":"b0eda508.69e698","order":10,"width":"2","height":"2","passthru":false,"label":"","color":"","bgcolor":"transparent","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":580,"wires":[[]]},{"id":"56adfba9.6330a4","type":"ui_slider","z":"d7bfc616.825a18","name":"","label":"","group":"734014fc.e28d3c","order":0,"width":"6","height":"2","passthru":true,"topic":"","min":0,"max":"50","step":1,"x":90,"y":120,"wires":[["1aaf30d6.c2709f"]]}]
